.user-card{
    max-width: 30%;
    left: 5%;
    top: 5%;
}

.posts{
    max-width: 50%;
    margin-left: 10%;
}

.content{
    display: flex;
    margin-top: 5%;
}

.comments{
    margin: 5% 5% 0 5%;
}