<div class="mat-elevation-z8">
    <table mat-table [dataSource]="data">
  
      <!-- Position Column -->
      <ng-container *ngFor="let columnName of columnNames" matColumnDef="{{columnName}}">
        <th mat-header-cell *matHeaderCellDef> {{columnName}} </th>
        <td mat-cell *matCellDef="let element">
          <p *ngIf='columnName !== "delete" && columnName !== "update"'>{{element[columnName]}}</p>
          <button *ngIf='columnName == "delete"' (click)="deleteButtonEvent(element)" mat-raised-button color="warn">Delete</button>
          <button *ngIf='columnName == "update"' (click)="updateButtonEvent(element)" mat-raised-button color="warn">Update</button> 
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
    </table>

  </div>